{% extends "::layout/layout.html.twig" %}
{% block body %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <div class="col-lg-7 col-md-7 col-sm-7 text-justify">
                <h1>Nous sommes ici</h1>
                <p>Le musée du Louvre est un musée d'art et d'antiquités situé au centre de Paris dans le palais du Louvre. C'est le plus grand musée du monde, par sa surface d'exposition de 60 600 m², et ses collections qui comprennent près de 460 000 œuvres. Celles-ci présentent l'art occidental du Moyen Âge à 1848, ceux des civilisations antiques qui l'ont précédé et influencé (orientales, égyptienne, grecque, étrusque et romaine), et les arts des premiers chrétiens et de l'Islam.</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10499.496405115677!2d2.337644!3d48.8606111!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb975fcfa192f84d4!2sMus%C3%A9e+du+Louvre!5e0!3m2!1sfr!2sfr!4v1463502159425" width="650" height="450" frameborder="0" style="border:0" allowfullscreen ></iframe>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 text-justify">
                <h2>Nous contacter</h2>
                <form role="form" action="">
                    <fieldset>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="text">Votre message:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Envoyer</button>
                    </fieldset>
                </form>
                <div class="info">
                    <h4 class="text-center" id="pratique">Informations pratiques</h4>
                    <p><strong>Adresse :</strong><br />
                        Musée du Louvre, 75058 Paris - France
                    </p>
                    <p><strong>Téléphone :</strong><br />
                        + 33 (0)1 40 20 53 17
                    </p>
                    <p><strong>Horaires :</strong><br />
                        Ouvert tous les jours de 9h à 18h sauf le mardi
                        Nocturnes jusqu’à 21h45 le mercredi et le vendredi.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

